<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.membership.dao.IPeopleDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="PeopleMap" type="com.easytoolsoft.easyreport.membership.po.People">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />


</resultMap>

    <select id="selectByPager" resultMap="PeopleMap" parameterType="java.util.Map">
        select
        a.id as id ,a.name_ as name ,a.code_ as code, a.org_code_ as orgCode,b.id_,b.full_name_ as fullName,b.short_name_ as shortName,
        case
        when a.type_ ='01' then '合同工A'
        when a.type_ ='02' then '合同工B'
        when a.type_ ='03' then '合同工C'
        when a.type_ ='04' then '合同工D'
        when a.type_ ='05' then '合同工E'
        when a.type_ ='06' then '合同工F'
        else '合同工G'
        end as type

        from t_teller_info_ a inner  join adm_agency_ b on a.ORG_CODE_=b.id_

        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by a.id desc
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>


    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from  t_teller_info_

    </select>
</mapper>