<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easytoolsoft.easyreport.membership.dao.IPeopleDao">
    <!-- CodeBuilder  Generated-->
    <resultMap id="PeopleMap" type="com.easytoolsoft.easyreport.membership.po.People">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
   </resultMap>

    <sql id="Base_Column_List_Without_Id">
  	    name  </sql>
    <sql id="Base_Column_List">
        id ,
        <include refid="Base_Column_List_Without_Id"/>
    </sql>


    <sql id="Example_Where_Clause2">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <select id="selectByPager" resultMap="PeopleMap" parameterType="java.util.Map">
        select
        a.id as id ,a.name_ as name ,a.code_ as code, a.org_code_ as orgCode,b.id_,b.full_name_ as fullName,b.short_name_ as shortName,
        case
        when a.type_ ='01' then '合同工A'
        when a.type_ ='02' then '合同工B'
        when a.type_ ='03' then '合同工C'
        when a.type_ ='04' then '合同工D'
        when a.type_ ='05' then '合同工E'
        when a.type_ ='06' then '合同工F'
        else '合同工G'
        end as type

        from t_teller_info_ a inner  join adm_agency_ b on a.ORG_CODE_=b.id_
        <if test="example != null">
            <include refid="Example_Where_Clause2"/>
        </if>

        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by a.id desc
        </if>


        limit #{pager.startIndex} , #{pager.pageSize}
    </select>


    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from  t_teller_info_

    </select>

    <!-- select -->
    <select id="selectById" resultMap="PeopleMap" parameterType="java.lang.String">
        select
                a.id as id ,a.name_ as name ,a.code_ as code, a.org_code_ as orgCode,b.id_,b.full_name_ as fullName,b.short_name_ as shortName,
                a.join_date_ as joinDate ,a.REGISTER_DATE_  as registerDate
       from t_teller_info_ a inner  join adm_agency_ b on a.ORG_CODE_=b.id_
        where a.id = #{id}
    </select>

    <select id="getList" resultType="com.easytoolsoft.easyreport.membership.po.People" parameterType="java.util.Map">
        select a.id from  t_teller_info_ a
        where a.id = #{sid}

    </select>

</mapper>